@(challengeForm: Form[Challenge])(implicit msg: play.api.i18n.Messages)

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(common.twitterBootstrapInput.f) }

@inputText(challengeForm("name"), '_label -> "Name", 'class -> "form-control")
@textarea(challengeForm("description"), '_label -> "Description", 'class -> "form-control", 'style -> "height:300px")
@textarea(challengeForm("input"), '_label -> "Test Input", 'class -> "form-control", 'style -> "height:150px")
@textarea(challengeForm("output"), '_label -> "Test Output", 'class -> "form-control", 'style -> "height:150px")
