@import helper._
@*

@(title: String, description: String, successful: Boolean = false, solution: Form[SubmitSolutionForm])(implicit messages: Messages)

@main("Coding create ") {

    <h2>Coding create: @title</h2>
    <p>@description</p>
    <br/>
    <h4>Submit your solution:</h4>

    @form(routes.ChallengeController.submitSolution()) {
        @inputText(solution("Your code"))

        <input type="submit" value="Submit"/>
    }

    @if(successful) {
        <h5>Congratulations! Your solution is correct!</h5>
    }
}
*@
